%div.pull-right
	%h3
		=@user.email if @user.email
= render 'shared/links'

%h1 
	People I Have Sent Links To:
%br
%table.table.table-bordered.table-striped.span4
	- @priority_friends.each do |f|
		%tr
			%td
				= link_to User.find(f).name, User.find(f)
		

		
	