%h1 
	=@title
%br
%table.table.table-bordered.table-striped
	%tr
		%th Source
		- if params[:controller]=='users'
			%th Sent To
		- else
			%th Shared By

	- @links.each do |link|
		%tr
			%td
				= link_to link.title, link.source, :target => "_blank"
				- unless link.tags.nil?
					%ul
						- link.tags.take(10).each do |t|
							%li.horizontal
								<span class="label label-success">
								=t
								</span>
				
			- if params[:controller]=='users'
				%td= link_to User.find(link.reciever_id).name, User.find(link.reciever_id)
			- else
				%td= link_to User.find(link.sender_id).name, User.find(link.sender_id)

%br

