%h1 
	=@title

%table.table.table-bordered.table-striped
	%tr
		%th Source
		%th Shared By

	- @links.each do |link|
		%tr
			%td
				= link_to link.title, link.source
				= link_to( 'Destroy', link, :confirm => 'Are you sure?', :method => :delete) if link.sender_id==current_user.id
			%td= link_to User.find(link.sender_id).name, User.find(link.sender_id)
			
%br

%button.btn-primary.btn.btn-large
	= link_to 'New Link', new_link_path
