- if user_signed_in?
	= render 'shared/links'
- else
	.hero-unit
		%h1 Welcome to Linkful!
		%p Linkful is the best way to share and receive links from your friends
	.well
		%h3 What is Linkful?
		%p Linkful lets you share, receive and archive your links in a convenient way for everyone. Never again send emails to your friends with a bunch of links, or lose that page you need in your endless list of bookmarks. 
		%h3 How does it work?
		%p Simply drag a link into your bookmarks bar, then click on it when you are on a page that you want to share. You will then be see a prompt asking who you would like to share that page with.
		%h3 How do I signup?
		%p Unfortunately, right now Linkful is in closed beta. But there is good news! If you have received a link, then you automatically have an account when we open for signup. You'll receive an email when we open to let you know.


	
