%section#content
  .circle_wrap.row
    .circle_service.span4
      .circle_icon
        %i.icon-search
      %h3 Share Instantly
      %p With the bookmarklet, sharing is as simple as one click and choosing who you want to send the current page to.
    .circle_service.span4
      .circle_icon
        %i.icon-camera-retro
      %h3 Email Digest
      %p Emails are sent nightly to each receiver with all the links that where sent to them that day. No more inbox full of links.
    .circle_service.span4
      .circle_icon
        %i.icon-cogs
      %h3 Link Archive
      %p Anything that you send or recieve is available to you later. Every email digest contains a link where receivers, regardless of if they have signed up, can view all the links that have been sent to them.
    / /row
  #widget_area_home
    #latest_work-2.widget.widget_work
      %hr.cool_divider/
      .latest_work
        %h3 Latest Shared Links
        %p
        .row
          - Link.all.desc(:created_at).take(4).each do |link|
            .work_post.span3
              = link_to link.source do
                = image_tag link.screenshot, :class => 'work_img', :alt => link.title
              = link_to link.title, link.source, :class => 'work_link'
          .clearfix
        / /row
      / /latest_work
    .clearfix
  / /widget_area_home
/ /content
.clearfix
