- if user_signed_in?
	= render 'shared/links'
- else
	%div.hero-unit
		%h1 Welcome to Linkful
		%p Linkful is the best way to share and receive links from your friends
	%div
		%p Linkful lets you easily send links to people and find it again later through our browser bookmarklet and archival service.


	
