- if user_signed_in?
	= render 'shared/links'
- else
	%div.hero-unit
		%h1 Welcome to Linkful
		%p Linkful is the best way to share and receive links from your friends
	%div
		%p This is a nice description of how Linkful works


	