.flex-container
	.flexslider
		%ul.slides
			%li
				%img.slider_img{:alt => "Slide 1", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2012/03/brooklyn-bridge-m.jpg&w=940&h=460&zc=1"}/
			%li
				%img.slider_img{:alt => "Slide 2", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2012/03/panoramic-view-of-beautiful-skyscrapers-and-river-m.jpg&w=940&h=460&zc=1"}/
			%li
				%img.slider_img{:alt => "Slide 3", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2012/03/the-village-of-oia-santorini-greece-m.jpg&w=940&h=460&zc=1"}/
			%li
				%img.slider_img{:alt => "Slide 4", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2012/03/singapore-city-at-night-m.jpg&w=940&h=460&zc=1"}/
	/ /flexslider
/ /flex-container
%section#content
	.circle_wrap.row
		.circle_service.span4
			.circle_icon
				%i.icon-search
			%h3 Unique & Clean Design
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices consequat nunc, ut vestibulum urna elementum
			%p
				%a.read-more{:href => "#"}
					Read More
					%i.icon-chevron-right
		.circle_service.span4
			.circle_icon
				%i.icon-camera-retro
			%h3 Responsive Layout
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices consequat nunc, ut vestibulum urna elementum
			%p
				%a.read-more{:href => "#"}
					Read More
					%i.icon-chevron-right
		.circle_service.span4
			.circle_icon
				%i.icon-cogs
			%h3 Easily Customisable
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices consequat nunc, ut vestibulum urna elementum
			%p
				%a.read-more{:href => "#"}
					Read More
					%i.icon-chevron-right
	%p
		/ /row
	#widget_area_home
		#latest_work-2.widget.widget_work
			%hr.cool_divider/
			.latest_work
				%h3 Latest Work
				%p
				.row
					.work_post.span3
						%a.work_img{:href => "http://www.youtube.com/watch?v=uelHwf8o7_U?width=640&height=390", :rel => "prettyPhoto[work]"}
							%img{:alt => "Video sit amet consectetur", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/04/BMW_connect_drive_1391_1024x76811.jpg&w=500&h=280&zc=1"}/
							%img.work_img_b{:alt => "Video sit amet consectetur", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/04/BMW_connect_drive_1391_1024x76811.jpg&w=500&h=280&zc=1&f=8|8|8|8|8|8|8|8|8|8|8|8|8|8|8|8"}/
							%i.icon-zoom-in
						%a.work_link{:href => "http://www.quemalabs.com/themes/exotico/portfolio/video/"}
							Video sit amet consectetur
							%i.icon-arrow-right
					.work_post.span3
						%a.work_img{:href => "http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/4046840701_3a612852bb_b11.jpg", :rel => "prettyPhoto[work]"}
							%img{:alt => "Multiple Images venenatis tempus", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/4046840701_3a612852bb_b11.jpg&w=500&h=280&zc=1"}/
							%img.work_img_b{:alt => "Multiple Images venenatis tempus", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/4046840701_3a612852bb_b11.jpg&w=500&h=280&zc=1&f=8|8|8|8|8|8|8|8|8|8|8|8|8|8|8|8"}/
							%i.icon-zoom-in
						%a.work_link{:href => "http://www.quemalabs.com/themes/exotico/portfolio/morbi-vehicula-venenatis-tempus/"}
							Multiple Images venenatis tempus
							%i.icon-arrow-right
					.work_post.span3
						%a.work_img{:href => "http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/Lambo_Estoque_231_1024x76821.jpg", :rel => "prettyPhoto[work]"}
							%img{:alt => "Vestibulum ante ipsum primis in", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/Lambo_Estoque_231_1024x76821.jpg&w=500&h=280&zc=1"}/
							%img.work_img_b{:alt => "Vestibulum ante ipsum primis in", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/Lambo_Estoque_231_1024x76821.jpg&w=500&h=280&zc=1&f=8|8|8|8|8|8|8|8|8|8|8|8|8|8|8|8"}/
							%i.icon-zoom-in
						%a.work_link{:href => "http://www.quemalabs.com/themes/exotico/portfolio/vestibulum-ante-ipsum-primis-in/"}
							Vestibulum ante ipsum primis in
							%i.icon-arrow-right
					.work_post.span3
						%a.work_img{:href => "http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/5053939023_6c73a32120_b21.jpg", :rel => "prettyPhoto[work]"}
							%img{:alt => "Cras a dui ultricies ipsum", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/5053939023_6c73a32120_b21.jpg&w=500&h=280&zc=1"}/
							%img.work_img_b{:alt => "Cras a dui ultricies ipsum", :src => "http://www.quemalabs.com/themes/exotico/wp-content/themes/exotico/framework/timthumb.php?src=http://www.quemalabs.com/themes/exotico/wp-content/uploads/2011/03/5053939023_6c73a32120_b21.jpg&w=500&h=280&zc=1&f=8|8|8|8|8|8|8|8|8|8|8|8|8|8|8|8"}/
							%i.icon-zoom-in
						%a.work_link{:href => "http://www.quemalabs.com/themes/exotico/portfolio/cras-a-dui-ultricies-ipsum-pellentesque/"}
							Cras a dui ultricies ipsum
							%i.icon-arrow-right
					.clearfix
				/ /row
			/ /latest_work
		.clearfix
	/ /widget_area_home
/ /content
.clearfix