// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  margin: 0;
  li {
    float: left;
    margin-right: 10px;
    a {
      font-size: 12px;
    }
  }
}
